* {
  margin: 0;
  padding: 0;
  font-family: 'Microsoft YaHei';
}

input::-ms-clear{
  display: none;
}

.head {
  padding: 15px;
}

.container {
  max-width: 640px;
  margin: auto;
  border: 1px solid #ccc;
}