* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 50px auto 0;
  width: 640px;
}

.header {
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 5px;
  input {
    width: 570px;
    padding: 0 5px;
    box-sizing: border-box;
    height: 36px;
    border: 1px solid #ccc;
    outline: none;
    color: #777;
  }
  button {
    width: 66px;
    height: 36px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #aaa;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  button:hover {
    cursor: pointer;
  }
  button:active {
    background-color: #eee;
    color: #777;
  }
}

.main {
  width: 100%;
}

.item {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: 5px;
}
